attrs==21.2.0
iniconfig==1.1.1
packaging==20.9
pathlib==1.0.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
toml==0.10.2
altgraph==0.17
macholib==1.14
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
Pillow==8.2.0
